$font-family: "Lato", sans-serif;
$gutter-width: 6rem;
$gutter-height: 6rem;

$default-font-size: 1.6rem;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light : #f7f7f7;
$color-grey-dark : #777;
$color-white: #fff;
$color-black: #000;

// $Light-green: #7ed56f;
// $Medium-green: #55c57a;
// $Dark-green: #28b485;

$Light-green-opac: rgba(126, 213, 111, 0.3);
$Dark-green-opac: rgba(40, 180, 133, 0.8);
